@{
    ViewBag.Title = "About";
}

<head>
    @Styles.Render("~/Content/MyScripts/Campsite_section_images.css")

</head>


<h1>About Us</h1>
<br>
<div class="row">

    <div class=" column-content">
        <h2>Tents & Trailers</h2>
        <br>
        <p>
            Midst Cape Otway, the centre of the Great Ocean Road and the Great Ocean Walk,
            an area of magnificent forests, beaches, secluded bays and spectacular coastline.
            It is sheltered among tall manna gums far away from the wearing noise of towns and traffic.
        </p>
    </div>


    <div class=" column-content">
        <iframe width="560" height="315" align="right"
                src="https://www.youtube.com/embed/WyGdYQazQLc"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media;
        gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<br>
<div class="row">

    <div class=" column-content">
        <br>
        <img src="~/Content/Images/aboutus.jpg" style="width:100%" />
    </div>
    <div class=" column-content">
        <h2>Gear Up</h2>
        <br>
        <p>
            Accommodation to suite all budgets from camp sites, powered camp sites, on-site vans, bunk rooms,
            standard and deluxe cabins. All set in sheltered manna gum woodland.
            Camp fires are permitted, however, during the summer months fires cannot be lit on total fire ban days.
        </p>
    </div>
</div>

<div class="row">
    <div class=" column-content">
        <h2>Backpacking</h2>
        <br>
        <p>
            Short walks and car trips take you to beaches and rock headlands
            where the great Southern Ocean roars onto the shore, or to small safe
            sandy bays and beaches where children can swim and play.
            There are lots of longer walks in the magnificent forests of Otway
            National Park including “The Great Ocean Walk” Australia’s premier walking trail.
        </p>
    </div>
    <div class=" column-content">
        <br>
        <img src="~/Content/Images/backpack.jpg" style="width:100%" />
    </div>

</div>



