@{
    ViewBag.Title = "Home Page";
}
<head>

    @Styles.Render("~/Content/MyScripts/StayYourStay.css")

</head>

<body>

    <div class="container" style="align-content:center;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="height:inherit; width:inherit; margin-top:50px;align-content:center;">
                <div class="item ">
                    <img src="~/Content/Images/Bimbi-Park-Caravan-Park-Sites.jpg" alt="Camping park" style="width:2048px; height:700px; ">
                    <div class="carousel-caption">
                        <h1>Gear up</h1>
                    </div>
                </div>
                <div class="item active">
                    <img src="~/Content/Images/koalas.jpg" alt="koala" style="width:2048px; height:700px;">
                    <div class="carousel-caption">
                        <h1>Camping with Koalas</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/waterfall.jpeg" alt="Waterfall" style="width:2048px; height:700px;">
                    <div class="carousel-caption">
                        <h1>In the midst of Nature</h1>
                    </div>
                </div>

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>
    <div class=" wrapper" style="text-align:center">
        <a href="https://localhost:44392/Campsites/ListView" class="button" style="align-content:center">Start Your Stay</a>
    </div>


</body>