@{
    ViewBag.Title = "Home Page";
     Layout = "~/Views/Shared/_Layout.cshtml";
    if (@ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!! </strong>@ViewBag.Message            
        </div>
    }
    
   
}
<head>

    @Styles.Render("~/Content/MyScripts/Style.css")
    <style>
        .imgs {
            width: 100%;
        }
    </style>
</head>

<body>
    @*Carousel Banner*@
    <div class="" style="align-content:center; width:100%">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
           
            <div class="carousel-inner" style="height:inherit; width:inherit; align-content:center;">
                <div class="item">
                    @*image ref: http://freshwallpapers.net/places/vernal-fall.html*@
                    <img src="~/Content/Images/c-1.jpg" class="image-responsive imgs" alt="Camping park">
                    <div class="carousel-caption">
                        <h1>Gear up</h1>
                        <div class=" wrapper" style="text-align:center">
                            <a href="/Campsites/ListView" class="button" style="align-content:center">Start Your Stay</a>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    @*image ref:  http://albumarium.com/56b056ae76707309176a0400-koala/56b059e97670737524661400*@
                    <img src="~/Content/Images/c-2.jpg" alt="koala" class="image-responsive imgs">
                    <div class="carousel-caption">
                        <h1>Camping with Koalas</h1>
                        <div class=" wrapper" style="text-align:center">
                            <a href="/Campsites/ListView" class="button" style="align-content:center">Start Your Stay</a>
                        </div>
                    </div>

                </div>
                <div class="item">
                    @*image ref:https://wallpaperaccess.com/hiking*@
                    <img src="~/Content/Images/c-3.jpg" class="image-responsive imgs" alt="Waterfall">
                    <div class="carousel-caption">
                        <h1>In the midst of Nature</h1>
                        <div class=" wrapper" style="text-align:center">
                            <a href="/Campsites/ListView" class="button" style="align-content:center">Start Your Stay</a>
                        </div>
                    </div>

                </div>

            </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    
</body>