@{
    ViewBag.Title = "Sitemap";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <meta charset='utf-8' />
        <title>Site Map</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        @Styles.Render("~/Content/MyScripts/Style.css")

    </head>
<h1>Track your Trail</h1>
<div class=" container body-content">


    <div id='map'></div>

    <br />
    <br />
    <div class="container">
        <section>
            <div class="row" style="margin-top:10px; align-content:center">

                <div class="col-md-4" style="float: left; width: 50%;padding: 10px">
                    <p style="text-align:center">
                        <h2>Gear Up</h2>
                        <h3>for all kinds of Camping Temperature</h3>
                    </p>

                </div>

                <div class="col-md-4" style="float: left;width: 50%;padding: 5px">
                    <br>
                    <br>
                    Enter location name:
                    <input id="awxSearchTextBox" value="@ViewBag.locate" />
                    <input id="awxSearchButton" type="submit" value="Search" />

                    <ul>
                        <span id="awxWeatherInfo">  </span>

                    </ul>
                    <ul>
                        <span id="awxLocationInfo">  </span>

                    </ul>
                </div>

            </div>
        </section>
        <br />
        <br />
        <section>
            <div class="row" style="padding-right:20px;align-content:center; margin-top: 10px">
                <div class="col-md-4">
                    <h2 class="travel">By Car</h2>
                    <p style="text-align:justify">
                        <b>From Melbourne</b> (About 3 hours)Go to Geelong.
                        It is a 55-minute drive via the West Gate and Princes freeways.
                        A network of highways also link regional centres to Geelong and
                        various other points along the Great Ocean Road.
                        <br>
                        <b>From Sydney</b> (About 14 Hours)
                        You can take the Hume Freeway and then travel to Geelong via
                        the Western Ring Road and Princes Freeway. (This trip takes
                        around 12 hours. Most travellers break their journey with
                        an overnight stop.
                    </p>

                </div>
                <div class="col-md-4">
                    <h2 class="travel">By Plane</h2>
                    <p style="text-align:justify">
                        From Melbourne Airport (Tullamarine)
                        Regular flights from a range of overseas and domestic destinations
                        arrive at Melbourne Airport, the closest capital city access point
                        to Bimbi Park. Geelong is a 55-minute drive away via the Western
                        Ring Road and the Princes Freeway.
                    </p>

                </div>
                <div class="col-md-4">
                    <h2 class="travel">By Bus</h2>
                    <p style="text-align:justify">
                        A number of daily bus services arrive in Melbourne from various
                        Australian capital and regional cities. From the New South Wales
                        capital Sydney, north of the Victorian capital Melbourne, the bus
                        trip to Melbourne takes about 12 hours.
                    </p>

                </div>
            </div>
        </section>


    </div>

</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
<link href="~/Content/MyScripts/mapbox-gl-directions.css" rel="stylesheet" />
<link href="~/Content/MyScripts/mapbox-gl-geocoder.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Weather.js" type="text/javascript"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<script src="~/Scripts/MapDirections.js"></script>
<script src="~/Scripts/MapMarker.js"></script>



